$if(mathematics)$
<link rel="stylesheet" href="$katexBase$/katex.min.css"/>
<script defer src="$katexBase$/katex.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".math").forEach(function (element) {
            katex.render(element.textContent, element, {
                displayMode: element.classList.contains("display"),
                output: "html",
                throwOnError: false
            });
        });
    });
</script>
$endif$
