<header id="site-header">
    <nav>
        <a href="/" class="site-logo" title="Home">
            $partial("templates/svg/home.svg")$
        </a>

        <input type="checkbox" id="nav-toggle" hidden>
        <label for="nav-toggle">
            <i class="icon-open">$partial("templates/svg/open.svg")$</i>
            <i class="icon-close">$partial("templates/svg/close.svg")$</i>
        </label>

        <div class="site-navigation">
            <div class="contact">
                <h4>Get in touch</h4>
                <a href="&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&#x3A;&#x64;&#x6D;&#x75;&#x68;&#x72;&#x40;&#x68;&#x6F;&#x74;&#x6D;&#x61;&#x69;&#x6C;&#x2E;&#x63;&#x6F;&#x6D;">Email</a>
            </div>
        </div>
    </nav>
</header>
