#error {
  min-height: calc(100vh - #{$header-height});
  background-image: url(/assets/images/404.svg);
  background-repeat: repeat;
  background-size: $font-size-5;
  text-align: center;
  animation: bgslide 15s linear infinite;
  overflow: hidden;

  @include breakpoint($breakpoint-tablet-landscape-up) {
    animation-duration: 60s;
  }

  @include breakpoint($breakpoint-large-desktop-up) {
    min-height: 100vh;
    animation-duration: 90s;
  }

  p {
    margin-right: -10vh;
    transform: rotate(90deg);
    color: $color-brand;
    font-size: 45vh;
    font-weight: bold;
    user-select: none;

    @media screen and (max-aspect-ratio: 5/6) {
      margin-right: -10vw;
      font-size: 45vw;
    }
  }

  @keyframes bgslide {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }
}
