$_default_margin: 1.25rem;

#article {
  font-size: $font-size-text;

  // The article container
  article {
    @include container($width-medium);

    color: $color-text-dark;
    hyphens: auto;

  }

  // The article title
  header > h1 {
    max-width: $font-size-4 * strip-unit($measure-large);
    padding-bottom: spacing(2);

    @include breakpoint($breakpoint-tablet-landscape-up) {
      font-size: $font-size-6;
    }
  }

  // Area directly below title
  .abstract {
    font-size: $font-size-3;
    max-width: $measure-large;
    padding-bottom: spacing(1);
  }

  // Display for date and author
  .meta {
    display: flex;
    flex-direction: column;
    padding-top: .5rem;
    padding-bottom: spacing(1);
    border-top: 1px solid $color-divider-dark;
    color: $color-text-dark-disabled;
    font-family: $font-family--sans;
    font-size: $font-size-1;
  }

  // Max width for default font-size items
  p,
  ol,
  ul,
  blockquote {
    max-width: $measure-medium;
  }

  // The child directly after teaser / meta
  .content > *:first-child {
    margin-top: 0;
  }

  // The default margin for all items under .content (lobotomized owl)
  .content > * + * {
    margin-top: $_default_margin;
  }

  // Top-level content that needs extra spacing between paragraphs
  // We don't use a sass mixin for this because selectors in mixins are not merged
  .content > h1,
  .content > h2,
  .content > h3,
  .content > h4,
  .content > h5,
  .content > h6 {
    margin-top: strip-unit($_default_margin) * 2 + em;
  }
  .content > div,
  .content > section,
  .content > figure,
  .content > blockquote,
  .content > table,
  .content > ul,
  .content > ol {
    margin-top: $_default_margin * 2;
    margin-bottom: $_default_margin * 2;
  }

  // Quotation and emphasis
  .content > blockquote {
    position: relative;
    padding-left: 1.05em; // Same as ul/ol indent
    font-style: italic;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      background-color: $color-text-dark;
      content: "";
    }

    cite {
      display: block;
      margin-top: .5rem;
      font-size: $font-size-2;
      font-style: normal;
      font-weight: bold;

      &::before {
        content: "— "
      }
    }
  }

  // Lists (used for both in-content and appendix lists)
  ul,
  ol {
    padding-left: 1.05em;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }

  // Code
  pre {
    padding: .3rem .5rem;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background: #f7f7f7;
    font-size: $font-size-2;
    line-height: 1.5;
    overflow: auto;
  }

  // Generated content below article
  .appendix,
  .references,
  .footnotes {
    margin: $_default_margin * 3/2 0;
    padding-top: 2rem;
    border-top: 1px solid $color-divider-dark;
    color: $color-text-dark-secondary;
    font-family: $font-family--sans;
    font-size: $font-size-2;
    word-wrap: break-word;

    * + * {
      margin-top: $_default_margin / 2;
    }
  }

  // Replicate the margin of the containers inside the appendix
  .appendix > h4:not(:first-child) {
    margin-top: $_default_margin * 3/2;
  }

  // Add the headlines with pseudo elements
  .references::before,
  .footnotes::before {
    display: block;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  .references::before {
    content: "References";
  }
  .footnotes::before {
    content: "Footnotes";
  }

  // Don't display default Pandoc <hr>
  .footnotes hr {
    display: none;
  }

  // Don't show border if element is not first (the order is given by pandoc)
  .references ~ .footnotes,
  .references ~ .appendix,
  .footnotes ~ .appendix {
    padding-top: 0;
    border-top: 0;
  }

  // Minimalistic table style used both in code output and directly in the article
  table {
    font-size: $font-size-2;

    thead {
      border-bottom: 1px solid black;
      vertical-align: bottom;
    }

    td,
    th {
      padding: .5rem;
    }
  }

  // Comment section
  #disqus_thread {
    margin-top: spacing(5);
    padding-top: spacing(2);
    border-top: 1px dashed $color-brand;
  }

  // Figures and images
  figure {
    text-align: center;
  }
  figcaption {
    display: block;
    padding-top: .5em;
    font-size: $font-size-2;
    font-style: italic;
    text-align: center;
  }
  figcaption::before {
    font-weight: bold;
    content: "Figure: ";
  }

  // Math
  .math { // font size for both inline and display math
    font-size: $font-size-text;
  }
  .math.display { // prevent overflow when math is too wide
    display: block;
    overflow: auto;
  }

  // Replicate the measure-medium container size for other elements
  .content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    figure,
    figcaption,
    .references,
    .footnotes,
    .appendix {
      max-width: $font-size-3 * strip-unit($measure-medium);
    }
  }

  // Responsive adjustments
  @include breakpoint($breakpoint-phone-only) {
    // Don't show description
    .meta p > span {
      display: none;
    }
  }
  @include breakpoint($breakpoint-tablet-portrait-up) {
    font-size: $font-size-3;

    .abstract {
      font-size: $font-size-4;
    }

    // Display side by side with border in-between
    .meta {
      flex-direction: row;
      justify-content: flex-end;

      > *:not(:last-child) {
        margin-right: 1rem;
        padding-right: 1rem;
        border-right: 1px solid $color-divider-dark;
      }
    }

    // Centered variation
    article.centered {
      header > h1 {
        margin: auto;
        text-align: center;
      }

      .content > * {
        margin-right: auto;
        margin-left: auto;
      }

      .meta, .abstract {
        text-align: center;
      }

      .meta {
        justify-content: center;
      }
    }

    // Columns inside article (6 = full width = default)
    @for $i from 1 through 5 {
      .width#{$i} {
        max-width: $i/6 * 100%;
      }
    }
  }
}
