/**
 * Home
 */

#home > #intro,
#home > #post-list {
  @include container;

  @include breakpoint($breakpoint-tablet-landscape-up) {
    max-width: $width-large;
  }
}

#home > #intro {
  > h1 {
    max-width: 10em;
    margin-bottom: spacing(3);
    color: $color-text-dark;
    font-size: $font-size-6;
    line-height: 1.2;
  }

  > p {
    max-width: $measure-medium;
    color: $color-text-dark-secondary;
    font-family: $font-family--sans;
    font-size: $font-size-3;
    hyphens: auto;
  }

  .dots {
    + label {
      display: inline;
      margin: 0 auto;
      user-select: none;
      transition: opacity .5s;
      white-space: nowrap;
      cursor: pointer;

      > * {
        transition: color .25s;
        color: $color-brand;
      }

      &:active > *,
      &:focus > * {
        color: $color-brand-dark;
      }
    }

    &:checked + label {
      opacity: 0;
      pointer-events: none;
    }

    + label + span {
      display: block;
      height: 0;
      transform: translateY(-25%);
      transition-duration: .5s;
      transition-property: opacity, transform;
      will-change: opacity, transform;
      opacity: 0;
    }

    &:checked + label + span {
      height: initial;
      margin-top: spacing(1);
      transform: none;
      opacity: 1;
    }
  }

  @include breakpoint($breakpoint-tablet-landscape-up) {
    > h1 {
      font-size: $font-size-headline;
    }
  }
}

#home > #post-list {
  position: relative; // overlay the above content
  padding-top: spacing(3);

  ul > li {
    &:not(:last-child) {
      border-bottom: 1px solid $color-divider-dark;
    }
  }

  h2 {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
    font-weight: normal;

    > a {
      font-size: $font-size-4;
    }

    > a,
    > span > a {
      transition-duration: .25s;
      transition-property: color;

      &:hover,
      &:focus {
        color: $color-brand;
      }
    }

    > span {
      padding-top: .5rem;
      font-family: $font-family--sans;
      font-size: $font-size-1;
    }

    > span > a {
      margin-right: spacing(0);
      color: $color-text-dark-secondary;
    }

    @include breakpoint($breakpoint-tablet-landscape-up) {
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;

      > a {
        color: $color-text-dark-secondary;
        font-size: $font-size-5;
      }
    }
  }
}
