/* ==========================================================================
   Google Fonts
   ========================================================================== */

/* latin */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptserif/v12/EJRTQgYoZZY2vCFuvAFT_r21cgT9rcs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptserif/v12/EJRVQgYoZZY2vCFuvAFWzr-_dSb_.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptserif/v12/EJRSQgYoZZY2vCFuvAnt66qSVyvVp8NA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ==========================================================================
   Variables
   ========================================================================== */

:root {
  /* Brand Colors */
  --color-brand: #b71c1c;
  --color-brand-dark: #7f0000;

  /* Typography Colors */
  --color-text: rgba(0, 0, 0, .82);
  --color-text-secondary: rgba(0, 0, 0, .54);
  --color-tap-highlight: rgba(0, 0, 0, .075);

  /* Syntax Highlighting Colors */
  --color-syntax-generic: black;
  --color-syntax-keyword: blue;
  --color-syntax-keyword-secondary: #000080;
  --color-syntax-comment: grey;
  --color-syntax-number: blue;
  --color-syntax-string: darkred;
  --color-syntax-error: red;

  /* UI Colors */
  --color-divider-dark: rgba(0, 0, 0, .12);
  --color-divider-light: rgba(255, 255, 255, .12);

  /* Typography */
  --font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-serif: "PT serif", "Palatino", "Georgia", "Cambria", "Times New Roman", serif;
  --font-family-mono: monospace;
  --font-size-1: .875rem;
  --font-size-2: 1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 2rem;
  --font-size-6: 3rem;
  --font-size-headline: 4.5rem;

  /* Constants */
  --footer-height: 30px;
  --header-width: 400px;
  --header-height: 85px;
  --logo-width: 45px;

  /* Spacing */
  --spacing-0: 1rem;
  --spacing-1: 1.5rem;
  --spacing-2: 2.25rem;
  --spacing-3: 3.375rem;
  --spacing-4: 5.0625rem;
  --spacing-5: 7.59375rem;

  /* Container */
  --container-padding: 1rem;
  --container-narrow: 720px;
  --container-medium: 1024px;
  --container-large: 1160px;

  /* Measure */
  --measure-small: 32em;
  --measure: 35em;

  /* Z-Indices */
  --zindex-navigation: 100;
  --zindex-navigation-icon: 101;
}

/* ==========================================================================
   Adapted sanitize.css v5.0.0 | CC0 License | github.com/jonathantneal/sanitize.css
   ========================================================================== */

/**
 * 1. Remove repeating backgrounds in all browsers (opinionated).
 * 2. Add box sizing inheritence in all browsers (opinionated).
 */

*,
::before,
::after {
  background-repeat: no-repeat; /* 1 */
  box-sizing: inherit; /* 2 */
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritence in all browsers (opinionated).
 */

::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}

/* Sections (https://html.spec.whatwg.org/multipage/semantics.html#sections)
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: .67em 0;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */

svg {
  fill: currentColor;
}

/*
 * Change the alignment on media elements in all browers (opinionated).
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* User interaction (https://html.spec.whatwg.org/multipage/interaction.html#editing)
   ========================================================================== */

/*
 * Remove the tapping delay on clickable elements (opinionated).
 * 1. Remove the tapping delay in IE 10.
 */

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation; /* 1 */
  touch-action: manipulation;
}

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

/* ARIA (https://w3c.github.io/html-aria/)
   ========================================================================== */

/**
 * Change the cursor on busy elements (opinionated).
 */

[aria-busy="true"] {
  cursor: progress;
}

/*
 * Change the cursor on control elements (opinionated).
 */

[aria-controls] {
  cursor: pointer;
}

/*
 * Change the display on visually hidden accessible elements (opinionated).
 */

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements (opinionated).
 */

[aria-disabled] {
  cursor: default;
}

/* ==========================================================================
   Reset
   ========================================================================== */

/**
 * Minimal CSS reset
 * Based on the classic css reset from Eric Meyer (https://meyerweb.com/eric/tools/css/reset/)
 */

/**
 * Remove default margin and padding
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/**
 * Remove default list style
 */
ol,
ul {
  list-style: none;
}

/**
 * Remove default button style
 */
button,
select {
  border: none;
  outline: none;
  font-family: inherit;
}

/**
 * Remove default tap highlight
 */
a,
button,
input,
select,
textarea {
  -webkit-tap-highlight-color: transparent;
}

/**
 * Remove default quote styling
 */
blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after {
  content: none;
}

/**
 * Remove default border spacing
 */
table {
  border-spacing: 0;
}

/* ==========================================================================
   Presets
   ========================================================================== */

html {
  height: 100%; /* Keep footer at bottom */
  box-sizing: border-box; /* gets inherited to all children */
  cursor: default;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  position: relative; /* Keep footer at bottom */
  min-height: 100%; /* Keep footer at bottom */
  font-family: var(--font-family-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  border: 1px solid rgba(0, 0, 0, .1);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.04);
}

a {
  color: var(--color-brand);
  text-decoration: none;
  -webkit-tap-highlight-color: var(--color-tap-highlight);
}

a:visited {
  color: var(--color-brand);
}

a:active {
  color: var(--color-brand-dark);
}

label {
  -webkit-tap-highlight-color: var(--color-tap-highlight); /* Same as url */
}

img {
  max-width: 100%;
}

/* Fix hyphenation of pre content, which should never be needed
  Content gets hyphenated in Safari and Chrome Mobile and does
  not get hyphenated on desktop Chrome */
pre {
  font-family: monospace;
  hyphens: none;
}

main {
  padding: var(--spacing-2) 0; /* Default top and bottom padding */
}

#home, #article {
  opacity: 0; /* Start state for the fadeIn animation */
  transform: translateY(var(--spacing-1)); /* Start state for the slideIn animation */
  animation: fadeIn .5s ease-in forwards, slideIn .75s ease-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(var(var(--spacing-1))); }
  to { transform: translateY(0); }
}

/* ==========================================================================
   Syntax
   ========================================================================== */

.sourceCode {
  font-size: var(--font-size-2);
}

.sourceCode a {
  color: var(--color-syntax-generic);
}

.sourceCode .va, /* Variable */
.sourceCode .kw, /* Keyword */
.sourceCode .im, /* Import */
.sourceCode .cf { /* ControlFlow */
  color: var(--color-syntax-keyword);
}

.sourceCode .in, /* Information */
.sourceCode .an, /* Annotation */
.sourceCode .cv, /* CommentVar */
.sourceCode .do, /* Documentation */
.sourceCode .co { /* Comment */
  color: var(--color-syntax-comment);
}

.sourceCode .dv, /* DecVal */
.sourceCode .bn, /* BaseN */
.sourceCode .fl { /* Float */
  color: var(--color-syntax-number);
}

.sourceCode .cn, /* Constant */
.sourceCode .sc, /* SpecialChar */
.sourceCode .vs, /* VerbatimString */
.sourceCode .ss, /* SpecialString */
.sourceCode .ch, /* Char */
.sourceCode .st { /* String */
  color: var(--color-syntax-string);
}

.sourceCode .al, /* Alert */
.sourceCode .wa, /* Warning */
.sourceCode .er { /* Error */
  color: var(--color-syntax-error);
}

.sourceCode .dt /* DataType */
{
  font-weight: bold;
}

.sourceCode .bu, /* BuiltIn */
.sourceCode .fu /* Function */
{
  color: var(--color-syntax-keyword-secondary);
}

/* .sourceCode .op { } /* Operator */

/* .sourceCode .ex { } /* Extension */

/* .sourceCode .pp { } /* Preprocessor */

/* .sourceCode .at { } /* Attribute */

/* ==========================================================================
   Header
   ========================================================================== */
#site-header {
  z-index: 1;
  margin: 0 auto;
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
  height: var(--header-height);
  font-family: var(--font-family-sans);
  letter-spacing: .1em;
  line-height: 2;
}

#site-header > nav {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

#site-header .site-navigation {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: calc(var(--container-padding) / 2) calc(var(--container-padding) / -2) 0 calc(var(--container-padding) / -2);
  padding: var(--spacing-2);
  pointer-events: none;
  transform: scale(.95);
  transform-origin: 100% 0;
  transition-duration: .25s;
  transition-property: transform, opacity;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(50, 50, 93, .1), 0 5px 15px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
  will-change: transform, opacity;
  opacity: 0;
  overflow: hidden;
  z-index: var(--zindex-navigation);
}

#site-header h4 {
  margin-bottom: .5em;
}

#site-header .site-logo {
  display: block;
  width: 36px;
  height: 36px;
}

#site-header .site-logo > svg {
  transition: fill .25s;
}

#site-header .site-logo > svg:active {
  fill: var(--color-brand-dark);
}

#site-header #nav-toggle + label {
  width: 36px;
  height: 36px;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

#site-header #nav-toggle + label > .icon-close {
  display: none;
}

#site-header #nav-toggle:checked ~ .site-navigation {
  transform: none;
  opacity: 1; /* Display the navigation when checked */
  pointer-events: auto;
}

#site-header #nav-toggle:checked + label {
  z-index: var(--zindex-navigation-icon);
}

#site-header #nav-toggle:checked + label > .icon-close {
  display: inline-block; /* Display close icon when nav is open */
}

#site-header #nav-toggle:checked + label > .icon-open {
  display: none; /* Hide open icon when nav is open */
}

/* ==========================================================================
   Home
   ========================================================================== */
#home > #intro,
#home > #post-list {
  margin: 0 auto;
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
}

#home > #intro > h1 {
  max-width: 10em;
  margin-bottom: var(--spacing-3);
  color: var(--color-text);
  font-size: var(--font-size-6);
  line-height: 1.2;
}

#home > #intro > p {
  max-width: var(--measure-small);
  color: var(--color-text-secondary);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-3);
  hyphens: auto;
}

#home > #intro span {
  display: block;
  margin-top: var(--spacing-1);
}

#home > #post-list {
  position: relative; /* overlay the above content */
  padding-top: var(--spacing-3);
}

#home > #post-list ul > li:not(:last-child) {
  border-bottom: 1px solid var(--color-divider-dark);
}

#home > #post-list h2 {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  font-weight: normal;
}

#home > #post-list h2 > span {
  display: flex;
  justify-content: space-between;
  min-width: 225px;
  padding-top: .5rem;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-1);
}

#home > #post-list h2 > a {
  font-size: var(--font-size-5);
}

#home > #post-list h2 > a,
#home > #post-list h2 > span > a {
  transition-duration: .25s;
  transition-property: color;
}

#home > #post-list h2 > span > a {
  color: var(--color-text-secondary);
}

#home > #post-list h2 a:hover,
#home > #post-list h2 a:focus {
  color: var(--color-brand);
}

/* ==========================================================================
   Article
   ========================================================================== */

#article {
  font-size: var(--font-size-3);
  color: var(--color-text);
}

#article .noscript {
  font-size: 80%;
  color: var(--color-text-secondary);
}

#article article { /* The article container */
  margin: 0 auto;
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
  max-width: var(--container-medium);
  hyphens: auto;

  /* color text dark needed? */
}

#article .abstract { /* Area directly below title */
  font-size: var(--font-size-4);
  max-width: var(--measure);
  padding-bottom: var(--spacing-1);
  color: black;
}

#article .meta { /* Area for date and author */
  display: flex;
  flex-direction: column;
  padding-top: .5rem;
  padding-bottom: var(--spacing-1);
  border-top: 1px solid var(--color-divider-dark);
  color: var(--color-text-secondary);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-1);
}

#article ul,
#article ol { /* Lists (used for both in-content and appendix lists) */
  padding-left: 1.05em;
}

#article ul {
  list-style-type: disc;
}

#article ol {
  list-style-type: decimal;
}

#article pre { /* Code */
  padding: .3rem .5rem;
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  background: #f7f7f7;
  line-height: 1.5;
  overflow: auto;
}

#article p { /* Always justify article text */
  text-align: justify;
}

#article img { /* Display all images as blocks */
  display: block;
}

#article hr { /* Uniform divider color */
  border-color: var(--color-divider-dark);
}

#article p,
#article ol,
#article ul,
#article blockquote,
#article hr { /* Max width for default font-size items */
  max-width: var(--measure);
}

#article header > h1 { /* The article title */
  max-width: 52.5rem; /* font-size-4 * measure */
  padding-bottom: var(--spacing-2);
}

#article .content > *:first-child { /* The child directly after meta */
  margin-top: 0;
}

#article .content > * + * { /* The default margin for all items under .content (lobotomized owl) */
  margin-top: var(--font-size-3);
}

#article .content > h1,
#article .content > h2,
#article .content > h3,
#article .content > h4,
#article .content > h5,
#article .content > h6 { /* Top-level content that needs extra spacing between paragraphs */
  margin-top: 1em;
}

#article .content > div,
#article .content > section,
#article .content > figure,
#article .content > blockquote,
#article .content > table,
#article .content > ul,
#article .content > ol { /* Top-level content that needs extra spacing between paragraphs */
  margin-top: var(--font-size-3);
  margin-bottom: var(--font-size-3);
}

#article .content > ul > li:not(:first-child),
#article .content > ol > li:not(:first-child) {
  margin-top: var(--font-size-1);
}

#article .content > figure {
  padding-top: 1em;
  padding-bottom: 1em;
}

#article .content > blockquote { /* Quotation and emphasis */
  position: relative;
  padding-left: 1.05em; /* Same as ul/ol indent */
  font-style: italic;
}

#article .content > blockquote::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: var(--color-divider-dark);
  content: "";
}

#article .content > blockquote cite {
  display: block;
  margin-top: .5rem;
  font-size: var(--font-size-2);
  font-style: normal;
  font-weight: bold;
}

#article .content > blockquote cite::before {
  content: "— ";
}

#article .appendix,
#article .references,
#article .footnotes { /* Generated content below article */
  padding-top: var(--font-size-3);
  border-top: 1px solid var(--color-divider-dark);
  color: var(--color-text-secondary);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-2);
  word-wrap: break-word;
}

#article .citation, #article .references > div { /* targets all citations and references */
  font-style: italic;
}

#article .citation {
  font-size: 90%;
}

#article .appendix * + *,
#article .references * + *,
#article .footnotes * + * {
  margin-top: var(--font-size-1);
}

#article .appendix > h4:not(:first-child) { /* Replicate the margin of the top level extra spacing */
  margin-top: var(--font-size-3);
}

#article .references::before, /* Add the headlines with pseudo elements */
#article .footnotes::before {
  display: block;
  margin-bottom: 1rem;
  font-weight: bold;
}

#article .references::before {
  content: "References";
}

#article .footnotes::before {
  content: "Footnotes";
}

#article .footnotes hr { /* Dont display default Pandoc <hr> */
  display: none;
}

#article .references ~ .footnotes,
#article .references ~ .appendix,
#article .footnotes ~ .appendix { /* Dont show border if element is not first (the order is given by pandoc) */
  padding-top: 0;
  border-top: 0;
}

#article table { /* Minimalistic table style used both in code output and directly in the article */
  font-size: var(--font-size-2);
}

#article thead {
  border-bottom: 1px solid black;
  vertical-align: bottom;
}

#article td,
#article th {
  padding: .5rem;
}

#article #disqus_thread { /* Comment section */
  margin-top: var(--spacing-5);
  padding-top: var(--spacing-2);
  border-top: 1px dashed var(--color-brand);
}

#article figcaption {
  display: block;
  padding-top: .25em;
  font-size: var(--font-size-2);
  text-align: left;
}

#article figcaption::before {
  font-weight: bold;
  content: "Figure: ";
}

#article img:not(.caption) + figcaption {
  display: none; /* don't show caption unless .caption class is set on the img */
}

#article .math { /* Math */
  font-size: 1.05rem; /* font size for both inline and display math */
  color: black;
}

#article .math.display { /* prevent overflow when math is too wide */
  display: block;
  overflow: auto;
}

#article .math.inline .katex { /* prevent overflow of inline elements when math is too wide */
  white-space: normal;
}

#article .content h1,
#article .content h2,
#article .content h3,
#article .content h4,
#article .content h5,
#article .content h6,
#article .content figcaption,
#article .content .references,
#article .content .footnotes,
#article .content .appendix { /* Replicate the measure container size for other elements */
  max-width: 43.75rem; /* font-size-3 * measure */
}

#article article.centered figcaption {
  margin: auto;
}

#article article.centered header > h1 { /* Centered variation */
  margin: auto;
  text-align: center;
}

#article article.centered .content > * {
  margin-right: auto;
  margin-left: auto;
}

#article article.centered .meta,
#article article.centered .abstract {
  text-align: center;
  margin: auto;
}

#article article.centered .meta {
  justify-content: center;
}

#article .width-small {
  width: 17.5rem; /* full width * 0.4 */
}

#article .width-medium {
  width: 21.875rem; /* full width * 0.5 */
}

#article .width-large {
  width: 26.25rem; /* full width * 0.6 */
}

#article .width-full {
  width: 43.75rem; /* font-size-3 * measure */
}

#article .width-small,
#article .width-medium,
#article .width-large,
#article .width-full {
  max-width: 100%; /* Don't overflow mobile max width */
  margin: auto;

}

#article .definition,
#article .proof,
#article .theorem {
  max-width: var(--measure);
  padding: 1em 0 1em 0; /* same as ol and ul */
  border: solid var(--color-divider-dark);
  border-width: 1px 0 1px 0;
}

#article .definition > * + *,
#article .proof > * + *,
#article .theorem > * + * {
  margin-top: var(--font-size-1);
}

#article .definition::before,
#article .proof::before,
#article .theorem::before {
  float: left;
  font-weight: bold;
  padding-right: 1em;
}

#article .definition::before {
  content: "Definition";
}

#article .proof::before {
  content: "Proof";
}

#article .theorem::before {
  content: "Theorem";
}

/* ==========================================================================
   404
   ========================================================================== */
#error {
  min-height: calc(100vh - var(--header-height));
  background-image: url(/assets/images/404.svg);
  background-repeat: repeat;
  background-size: var(--font-size-5);
  text-align: center;
  animation: bgslide 15s linear infinite;
  overflow: hidden;
}

#error p {
  margin-right: -10vh;
  transform: rotate(90deg);
  color: var(--color-brand);
  font-size: 45vh;
  font-weight: bold;
  user-select: none;
}

@media screen and (max-aspect-ratio: 5/6) {
  #error p {
    margin-right: -10vw;
    font-size: 45vw;
  }
}

@keyframes bgslide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

/* ==========================================================================
   Responsive
   ========================================================================== */

/* Phone
   ========================================================================== */
@media screen and (max-width: 599px) {
  /* Article */
  #article .meta p > span:first-child {
    display: none; /* Dont show description */
  }
}

/* Tablet Portrait
   ========================================================================== */
@media screen and (min-width: 600px) {
  /* Header */
  #site-header .site-navigation {
    left: auto;
    padding: var(--spacing-2) var(--spacing-5) var(--spacing-2) var(--spacing-2);
  }

  /* Article */
  #article {
    font-size: var(--font-size-3);
  }

  #article .abstract {
    font-size: var(--font-size-4);
  }

  #article .meta { /* Display side by side with border in-between */
    flex-direction: row;
    justify-content: flex-end;
  }

  #article .meta p > span:first-child {
    font-weight: bold;
  }

  #article .meta > *:not(:last-child) {
    margin-right: 1rem;
    padding-right: 1rem;
  }
}

/* Full article width including padding
   ========================================================================== */
@media screen and (min-width: 47.75rem) { /* full article with plus updated container padding */
  :root { /* increase container padding after reaching full article width */
    --container-padding: 2rem;
  }

  #article article:not(.centered) .width-small { /* align/center in relationship to measure width */
    margin-left: 13.125rem;
  }
  #article article:not(.centered) .width-medium {
    margin-left: 10.9375rem;
  }
  #article article:not(.centered) .width-large {
    margin-left: 8.75rem;
  }
  #article article:not(.centered) .width-full {
    margin-left: 0;
  }
}

/* Tablet Landscape
   ========================================================================== */
@media screen and (min-width: 900px) {
  /* Home */
  #home > #intro,
  #home > #post-list {
    max-width: var(--container-large);
  }

  #home > #intro > h1 {
    font-size: var(--font-size-headline);
  }

  #home > #post-list h2 {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  #home > #post-list h2 > a {
    color: var(--color-text-secondary);
  }

  /* Article */
  #article header > h1 {
    font-size: var(--font-size-6);
  }

  /* 404 */
  #error {
    animation-duration: 60s;
  }
}

/* Large Desktop
   ========================================================================== */
@media screen and (min-width: 1680px) {
  /* Presets */
  main {
    padding: var(--spacing-3) 0 var(--spacing-2) var(--header-width);
  }

  /* Header */
  #site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--header-width);
    height: 100%;
    border-right: 1px solid var(--color-divider-dark);
    background-color: white;
  }

  #site-header > nav {
    flex-direction: column;
    align-items: initial; /* reset */
  }

  #site-header .site-logo {
    margin: var(--spacing-3) auto 0 auto;
    -webkit-tap-highlight-color: transparent;
  }

  #site-header #nav-toggle + label {
    display: none;
  }

  #site-header .site-navigation {
    position: initial; /* reset */
    box-shadow: initial; /* reset */
    pointer-events: initial; /* reset */
    opacity: 1;
  }

  /* 404 */
  #error {
    min-height: 100vh;
    animation-duration: 90s;
  }
}

@media screen and (min-width: 1920px) {
  #home { padding-top: var(--spacing-4); }
}

@media screen and (min-width: 2560px) {
  #home { padding-top: var(--spacing-5); }
}
