<article $if(centered)$ class="centered" $endif$ itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
    <meta itemprop="image" content="$if(image)$$site$$url$/$image$$else$$site$/assets/images/galaxy.jpg$endif$" />
    <meta itemprop="isPartOf" content="$site$">
    <meta itemprop="mainEntityOfPage" content="$url$" />
    <header>
        <h1 itemprop="name headline">$title$</h1>
    </header>

    $if(abstract)$
    <div class="abstract" itemprop="abstract">
        $abstract$
    </div>
    $endif$

    <div class="meta">
        <p class="author" itemprop="author creator publisher" itemscope itemtype="https://schema.org/Person">
            <span>Author<br></span>
            <span itemprop="name">$author$</span>
        </p>

        <p class="date">
            <span>Published<br></span>
            <time itemprop="datePublished dateModified">$date$</time>
        </p>
    </div>

    <div class="content" itemprop="articleBody">
        $body$

        <section class="appendix">
            <h4>Updates and Corrections</h4>
            <p>The source for this article is available at Github. If you want to suggest a change, please <a
                href="https://github.com/davnn/fastpaced-articles/issues/new">create an issue on GitHub</a>.</p>

            <h4>Citations and Reuse</h4>
            <p>Figures, and text are licensed under Creative Commons Attribution <a
                href="https://creativecommons.org/licenses/by/4.0/">CC-BY 4.0</a>, unless noted otherwise. The figures
                that have
                been reused from other sources don't fall under this license and can be recognized by a note in their
                caption.</p>
        </section>

        <div id="disqus_thread"></div>
    </div>

</article>

<script>
    var disqus_config = function () {
        this.shortname = "fastpaced";
        this.page.url = "$site$$url$";
        this.page.identifier = "$url$";
        this.page.title = "$title$";
    };

    function loadDisqus() {
        var d = document, s = d.createElement('script');
        s.src = 'https://fastpaced.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    }

    ["localhost", "127.0.0.1"].includes(window.location.hostname) || loadDisqus()
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
    Disqus.</a></noscript>
