<article $if(centered)$ class="centered" $endif$ itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
    <meta itemprop="image" content="$if(image)$$site$$url$/$image$$else$$site$/assets/images/galaxy.jpg$endif$" />
    <meta itemprop="isPartOf" content="$site$">
    <meta itemprop="mainEntityOfPage" content="$url$" />
    <header>
        <h1 itemprop="name headline">$title$</h1>
    </header>

    $if(abstract)$
    <div class="abstract" itemprop="abstract">
        $abstract$
    </div>
    $endif$

    <div class="meta">
        <p class="author" itemprop="author creator publisher" itemscope itemtype="https://schema.org/Person">
            <span>Author<br></span>
            <span itemprop="name">$author$</span>
        </p>

        <p class="date">
            <span>Published<br></span>
            <time itemprop="datePublished dateModified">$date$</time>
        </p>
    </div>

    <div class="content" itemprop="articleBody">
        $if(mathematics)$<noscript><p class="noscript">Activate JavaScript to enable mathematical typesetting powered by <a href="https://katex.org">KaTex</a>.</p></noscript>$endif$
        $body$

        <section class="appendix">
            <h4>Updates and Corrections</h4>
            <p>The source for this article is available at Github. If you want to suggest a change, please <a
                href="https://github.com/davnn/fastpaced-articles/issues/new">create an issue on GitHub</a>.</p>

            <h4>Citations and Reuse</h4>
            <p>Figures, and text are licensed under Creative Commons Attribution <a
                href="https://creativecommons.org/licenses/by/4.0/">CC-BY 4.0</a>, unless noted otherwise. The figures
                that have
                been reused from other sources don't fall under this license and can be recognized by a note in their
                caption.</p>
        </section>
        <div id="disqus_thread"></div>
    </div>

</article>

$if(comments)$<script>
    var disqus_config = function () {
        this.page.url = "$site$$url$";
        this.page.identifier = "$url$";
        this.page.title = "$title$";
    };

    /**
     * Lazy loading disqus comments once the comment section is reached
     * based on: https://usefulangle.com/post/251/disqus-comments-improve-page-load-speed
     */
    var disqus_observer = new IntersectionObserver(function (entries) {
        if (entries[0].isIntersecting) {
            /* #region Code from Disqus */
            (function () { // Function from Disqus
                var d = document, s = d.createElement('script');
                s.src = 'https://fastpaced.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
            /* #endregion Code from Disqus */
            disqus_observer.disconnect();
        }
    }, { threshold: [0] });
    disqus_observer.observe(document.querySelector("#disqus_thread"));
</script>$endif$
