<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#7f0000">
    <link rel="manifest" href="/assets/manifest/manifest.json">
    <link rel="alternate" type="application/rss+xml" title="$title$" href="$site$/atom.xml">
    <link rel="canonical" href="$site$$url$">
    <link rel="preconnect" href="https://fastpaced.disqus.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>$title$</title>
    <meta name="description" content="$if(abstract)$$abstract$$else$$defaultdescription$$endif$">
    <meta property="og:url" content="$site$$url$">
    <meta property="og:type" content="website">
    <meta property="og:title" content="$title$">
    <meta property="og:site_name" content="fastpaced">
    <meta property="og:description" content="$if(abstract)$$abstract$$else$$defaultdescription$$endif$">
    <meta property="og:image" content="$if(image)$$site$$url$/$image$$else$$site$/assets/images/galaxy.jpg$endif$">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Blog",
            "@id": "$site$",
            "name": "fastpaced",
            "description": "$defaultdescription$",
            "author": {
                "@type": "Person",
                "name": "David Muhr"
            },
            "creator": {
                "@type": "Person",
                "name": "David Muhr"
            },
            "publisher": {
                "@type": "Person",
                "name": "David Muhr"
            },
            "inLanguage": "en-US"
        }
    </script>
    <style>$partial("assets/style.css")$</style>
</head>

<body>
$partial("templates/partials/header.html")$

<main id="$layout$">
$body$
</main>
</body>
</html>

$partial("templates/partials/footer.html")$
